:root{
    --temporal-color: #fff;
    --primary-color: #cc3333;
    --secondary-color: #bbcccc;
    --tertiary-color: #523;
    --text-color: #122;
    --footer-color: #566;
}

:target{
    padding-top: 3.5rem;
}
/*
body{
    margin-top: 0;
}

main{
    padding-top: 0;
}*/

.contact-text{
    color: var(--temporal-color);
}

#menu{
    background-color: var(--primary-color);
}

#contact{
    background-color: var(--text-color);
}

#footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

h1{
     margin-top: 3rem;
     color: var(--primary-color);
 }

h4 {
    color: var(--tertiary-color);
}
p {color: var(--text-color)}